/*
/* Modal styles */
.modal-dialog {
    max-width: 500px;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-title {
    font-size: 1.25rem;
}

.modal-body {
    padding: 2rem;
}

.modal-footer {
    padding: 1rem;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
 

.task-image {
    max-width: 100%;
    max-height: 200px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover;
}