.container-borders {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 1.5rem;
    color: #007bff;
}

.ovalitos {
    width: 60px;
    height: 40px;
    background-color: #707981;
    border-radius: 30%;
}