.calculator {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 0.375rem;
  width: 80%; /* Utilizamos porcentaje en lugar de píxeles */
  max-width: 400px; /* Establecemos un ancho máximo */
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  transition: all 0.3s ease; /* Agregamos transición para suavizar el cambio de tamaño */
}

.calculator-ampliada {
  width: 90%; /* Ajustamos el ancho para la versión ampliada */
  max-width: 720px; /* Ancho máximo para la versión ampliada, que permita 8 botones por fila */
}

.output {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  height: 10%;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  text-align: center;
}

.result {
  font-size: 20px;
  border: 0px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Por defecto, 4 botones por fila */
  grid-gap: 10px;
}

button {
  border: none;
  border-radius: 0.375rem;
  padding: 20px;
  background-color: #eee;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Ajustamos la anchura de los botones */
  box-sizing: border-box; /* Incluimos el padding y border en la anchura total */
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.bg-green {
  background-color: rgba(0, 177, 29, 0.651);
  color: white;
}

.bg-green:hover {
  background-color: rgba(0, 231, 39, 0.651);
  color: white;
}

.bg-red {
  background-color: rgba(223, 4, 4, 0.651);
  color: white;
}

.bg-red:hover {
  background-color: rgba(255, 1, 1, 0.651);
  color: white;
}

input[type="text"] {
  border: none;
  outline: none; /* Esto elimina el contorno del input al hacer clic en él */
  font-size: larger;
}

#cientific {
  margin: 20px auto; /* Ajustamos el margen para centrar el botón */
}

.calculator-ampliada {
  /* Estilos adicionales para la versión científica */
  width: 600px; /* Ajusta el ancho según tu preferencia */
  height: 450px; /* Ajusta la altura según tu preferencia */
}

#desplegables {
  display: none; /* Ocultamos los botones de funciones trigonométricas por defecto */
}

.calculator-ampliada .buttons {
  grid-template-columns: repeat(8, 1fr); /* Ajustamos el diseño de los botones para la versión ampliada */
}

.calculator-ampliada button {
  /* Ajusta el ancho de los botones cuando la calculadora está ampliada */
  padding: 10px; /* Reducir el padding para que los botones no se hagan más grandes */
  font-size: 14px; /* Reducir el tamaño de la fuente para que quepan más botones por fila */
}