#logotipo{
    width:28px ;
    height: 41px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}

#contenedorCategorias {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: #f9f9f9;
    margin-top: 10px;
    max-width: 270px; /* Ajusta el ancho máximo para dispositivos móviles */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.categoria {
    margin-bottom: 5px;
}

.categoria ul {
    list-style-type: none;
    padding-left: 0;
}

.categoria ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 14px; /* Reduce el tamaño del texto */
}

.card {
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: 100px; /* Ajusta el tamaño de las imágenes */
    object-fit: contain;
    margin: 10px auto; /* Centra la imagen horizontalmente */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

