.container-borders {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 1.5rem;
    color: #007bff;
}

#logotipo{
    width:28px ;
    height: 41px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    
}

.form-select {
    width: 100%;
    max-width: 300px;
}